<%- include("partials/header") %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="headline">Your Future Starts Now.</h1>
            <div class="row justify-content-around pt-3">
                <div class="col-2"></div> 
                <button type="button" class="btn btn-light col-3" onclick="window.location.href='/jobs'">See what jobs are available</button>
                <button type="button" class="btn btn-outline-light col-3" onclick="window.location.href='/jobs/new'">Employer? Add a position</button>
                <div class="col-2"></div> 
            </div>
        </div>
    </div>
    
<%- include("partials/footer") %>
